/* specify the size of the divs */
* { margin: 10px; }
#container {
    height: 1024px;
    width: 2048px;
    background: white;
}
header { background: red;       height: 40px; }
main   { background: silver;    height: 128x; }
footer { background: blue;      height: 40px; }
/* ----------------------------------------------------- */
/* change text in footer depending on the screen width */

/* phone [width < 512px] */
@media only screen and (max-width: 512px)
{
    header, main, footer { width: 256px; }
    .phone {   display: inline-block;    }
    .tablet {  display: none;            }
    .desktop { display: none;            }
}
  
/* tablet [512 <= width < 1024px] */
@media only screen and (min-width: 512px)
{
    header, main, footer { width: 512px; }
    .phone {   display: none;            }
    .tablet {  display: inline-block;    }
    .desktop { display: none;            }
}
  
/* desktop [1024 <= width] */
@media only screen and (min-width: 1024px)
{
    header, main, footer { width: 1024px; }
    .phone {   display: none;             }
    .tablet {  display: none;             }
    .desktop { display: inline-block;     }
  }